---
/** @jsxImportSource astro */
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../FormattedDate.astro";
import type { AVAILABLE_LANGUAGES } from "../../i18n/conf";

interface Props {
  article: CollectionEntry<"articles">;
  lang: (typeof AVAILABLE_LANGUAGES)[number];
}

const { article, lang } = Astro.props;
---

<style>
  .article__item {
    width: 100%;
    min-height: 200px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: var(--box-shadow);
    border: var(--layout-border);
    border-radius: var(--border-radius);
    transition: transform 1s ease;

    &:hover {
      transform: scale(1.05) translateZ(20px);
      transform-style: preserve-3d;
      box-shadow: var(--box-shadow);
    }

    * {
      text-decoration: none;
      transform-style: preserve-3d;
    }

    img {
      max-height: 200px;
      border-radius: var(--border-radius) 0 0 var(--border-radius);
    }
    a {
      display: flex;
      height: 100%;
      width: 100%;
    }

    .article__title {
      margin: 0;
      color: var(--accent);
    }

    .article__date {
      margin: 0;
      color: rgb(var(--gray));
    }
    .article__preview {
      flex: 1;
      padding: var(--padding);
    }

    .article__text {
      margin: 0;
      text-overflow: ellipsis;
      box-sizing: border-box;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      color: var(--color);
    }
  }
  @media (max-width: 600px) {
    .article__item {
      a {
        width: 360px;
        display: flex;
        flex-direction: column;
      }

      img {
        width: 360px;
      }
    }
  }

  :global(.dark-theme) {
    .article__item {
      background-color: var(--background);
    }
  }
</style>
<li class="article__item">
  <a href={`/${article.slug}/`}>
    <img
      transition:animate="initial"
      transition:name={`article-${article.data.id}`}
      height="100%"
      src={article.data.heroImage}
      alt=""
    />
    <div class="article__preview">
      <h4 class="article__title">
        {article.data.title}
      </h4>
      <p class="article__date">
        <FormattedDate lang={lang} date={article.data.pubDate} />
      </p>
      <p class="article__text">
        {`article-${article.data.id}`}
        {article.data.description}
      </p>
    </div>
  </a>
</li>
