---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import ArticlesList from "../components/articles/ArticlesList.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Pagination from "../components/Pagination.astro";
import { DEFAULT_LANG } from "../i18n/conf";

const { lang, page } = Astro.props;
const totalPage = Math.ceil(page.total / page.size);
---

<!doctype html>
<html lang={lang}>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      body {
        height: 100%;
        display: flex;
        flex-direction: column;
      }
      main {
        flex: 1;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <ArticlesList lang={lang} articles={page?.data} />
      {
        page && (page.currentPage !== 1 || page.data.length >= page.size) && (
          <Pagination
            firstPage={
              page.url.prev ? `/${lang !== DEFAULT_LANG ? lang : ""}` : null
            }
            previousPage={page.url.prev ? page.url.prev : null}
            nextPage={page.url.next ? page.url.next : null}
            lastPage={
              page.url.next
                ? `${lang !== DEFAULT_LANG ? "/" + lang : ""}/${totalPage}`
                : null
            }
            currentPage={page.currentPage}
            totalPages={totalPage}
          />
        )
      }
    </main>
    <Footer />
  </body>
</html>
